h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	background: #4aaaa5;
	float: left;
}



a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: right;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

footer {
	background-color: #666666;
	font-family: 'Georgia', Times, Times New Roman, serif;
}